@media only screen and (max-width: 1130px) {

        /* NAVBAR */

    #menu2 {
        height: 4.5em;
        line-height: 2em;
        font-size: 25px;
        display: block;

        .menu2-container {
            display: block;
        }

        ul.top-menu {
            display: flex;
            width: 100%;
            text-align: center;
            padding: 0 70px;
            margin-bottom: 0;

            li {
                margin: 0 auto;
            }
        }

        .spacer {
            display: none;
        }

        ul.icons {
           display: flex;
           width: 100%;
           padding: 0 120px;
           margin-bottom: 0;

           li {
            margin: 0 auto;
            }
        }
    }


    #header {
        height: 10em;

        .logo {
            position: relative;
            margin: 0 auto;
            background-size: 276px 165px;
            padding: 0 2.4em;
            left: 0%;
            top: 1vw;
        }

        nav a.menu-link:before, #header nav a.menu-link:after {
            background-size: 41px 75px;
            width: 55px;
        }
    }

    /* BANNER */
    #banner {
        height: 300px;
        margin-bottom: -5.75em;
        padding: 5em 0 0em 0;

        img {
            z-index: -1;
        }
    }

    .breadcrumb-section .breadcrumb-grid .breadcrumb-panel ul.breadcrumb li a,
    .breadcrumb-section .breadcrumb-grid .breadcrumb-panel ul.breadcrumb li span {
        font-size: 16px;
    }

    ul.breadcrumb {
        display: block;
        text-align: center;
        
        li {
            width: 100%;
            text-align: left!important;
            
            a, span {
                margin: 0 auto;
            }
        }
    }

    .header-text {
        font-size: 16px;
        word-wrap: normal;
        display: inline-block;
        //position: relative;
        width: 100%;
       // z-index: 1;
    }


    /* SIDE MENU */

    #menu {
        width: 72%;
        margin-top: 50px;

        .inner {
            padding-top: 20px;
        }
    }

    a.btn {
        width: 200px;
        font-size: 20px;
    }

    /* BUTTON BOTTOM */
    button.button-bottom {
        padding: 30px 70px;
        margin: 0px auto 40px auto;
    }
    button.button-bottom p:nth-child(1) {
        font-size: 11px;
        letter-spacing: 1px;
        margin-top: 3px;
    }
    button.button-bottom p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 1px;
    }



    /* HOME PAGE */
    .generous_section {
    
        .generous_btn {
            width: 300px;
            p {
                font-size: 16px;
                padding: 0;
            }
        }
    
        .generous_text {
            
            img {
                width: 220px;
                margin-top: 25px;
                transform: rotate(1deg);
                
            }

            .generous_giving {
                
                &::before {
                    height: 2px;
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                    bottom: 20px;
                }
                &::after {
                    width: 60%;
                }
            }
        }
    }

}


/* MEET THE PASTOR */

.major {
    text-align: center;
}

.secondary img#pastor-img {
    position: relative;
    top: 0%;
    right: 0%;
    margin: 0 auto;
    height: 17em;
}

.btn-clickhere {
    padding-top: 30px;
    width: 20em;
}

//        /* NAVBAR */

//        #menu2 {
//         height: 3em;
//         line-height: 3em;
//         font-size: 32px;

//         .spacer {
//             width: 110px;
//         }
//     }

//     #header {
//         height: 12em;

//         .logo {
//             top: -1vw;
//             left: 29vw;
//             background-size: 400px 250px;
//             padding: 0 4em;
//         }
//     }

//     #header nav a.menu-link:before, #header nav a.menu-link:after {
//         background-size: 41px 75px;
//         width: 55px;
//     }

    

//     /* BANNER */
//     #banner {
//         height: 600px;
//         margin-bottom: -5.75em;
//         padding: 5em 0 0em 0;
//     }

//     .breadcrumb-section .breadcrumb-grid .breadcrumb-panel ul.breadcrumb li a,
//     .breadcrumb-section .breadcrumb-grid .breadcrumb-panel ul.breadcrumb li span {
//         font-size: 16px;
//     }

//     .header-text {
//         font-size: 34px;
//         word-wrap: normal;
//     }


//     /* SIDE MENU */

//     #menu {
//         width: 72%;
//         margin-top: 50px;

//         .inner {
//             padding-top: 20px;
//         }
//     }

//     /* BUTTON BOTTOM */
//     button.button-bottom {
//         padding: 30px 70px;
//         margin: 0px auto 40px auto;
//     }
//     button.button-bottom p:nth-child(1) {
//         font-size: 11px;
//         letter-spacing: 1px;
//         margin-top: 3px;
//     }
//     button.button-bottom p:nth-child(2) {
//         font-size: 10px;
//         letter-spacing: 1px;
//     }



//     /* HOME PAGE */
//     .generous_section {
    
//         .generous_btn {
//             width: 300px;
//             p {
//                 font-size: 16px;
//                 padding: 0;
//             }
//         }
    
//         .generous_text {
            
//             img {
//                 width: 220px;
//                 margin-top: 25px;
//                 transform: rotate(1deg);
                
//             }
//         }
//     }

// }



